.mainbox {
  display: flex;
  min-width: 1024px;
  height: 30rem;
  max-height: 1920px;
  margin: 0 auto;
  padding: 0.025rem 0.025rem 0;
  background-color: azure;
  border-style:outset;
}

.dashboard {
  display: flex;
  min-width: 1024px;
  height: 30rem;
  max-height: 1920px;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
}


.leftside {
  width: 50%;
  height:450px;
}

.rightside  {
  width: 50%;
  height:480px;
}

.leftside_dash {
  width: 50%;
  height:400px;
}
.rightside_dash  {
  background-color: lavender;
  width: 50%;
  height:400px;
}


.bottom {
  background-color: lightgrey;
  position: absolute;
  height: 200px;
  width: 90%;
  bottom: 0;
  border: 3px solid #8AC007;

}

#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}