<!DOCTYPE html>
<html>
<title>Welcome to Visual Data analytics Tools for Wearable Devices</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block" style="display:none;z-index:5" id="mySidebar">
  <button class="w3-bar-item w3-button w3-xxlarge" onclick="w3_close()">Close &times;</button>
     <a href="index" class="w3-bar-item w3-button">Index</a>
     <a href="upload" class="w3-bar-item w3-button">Upload</a>
     <a href="dashboard" class="w3-bar-item w3-button">Dashboard</a>
     <a href="compare" class="w3-bar-item w3-button">Compare</a>


</div>

<!-- Page Content -->
<div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div>
  <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Dashboard</h1>

<section class = 'dashboard'>
        <div class="leftside_dash" id="chart1"></div>
        <div class="rightside_dash" id="chart2"></div>
</section>
      <div class="bottom" id=" bar"></div>
    </div>
  </div>


<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
